/* .bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -99;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 50%;
} */

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-flex *{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}